{% extends 'restaurant/base.html'%}

{% block main_block %}

<div class="container" style="margin-top: 120px;">
    <div class="row row-cols-1 row-cols-md-3 g-2 mt-4">
      {% for i in category.item_set.all %}
      <div class="col" style="width: 19rem;">
        <div class="card" style="width: 18rem;">
          <img src="{{ i.image.url }}" class="card-img-top" alt="..." height="180px">
          <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.category}}</p>
            <h5><i class="fa-solid fa-indian-rupee-sign fa-xs" style="color: #000000;"></i> {{i.price}}</h5>
            {% if i.is_active == 0 %}
              <p class="card-text">Item <span class="text-danger">Disabled</span></p>
              {% else %}
              <p class="card-text">Item <span class="text-info">Enabled</span></p>
            {% endif %}
            <div class="d-flex justify-content-evenly">
              <a href="{% url 'item_detail' i.id %}"><i class="fa-solid fa-eye fa-lg" style="color: #e4bf07;"></i></a>
              <a href="{% url 'item_update' i.id %}"><i class="fa-solid fa-pen fa-lg" style="color: #006385;"></i></a>
              <a href="{% url 'item_delete' i.id %}"><i class="fa-solid fa-trash fa-lg" style="color: #b30000;"></i></a>
              <a href="{% url 'item_enable' i.id %}"><i class="fa-solid fa-check fa-lg" style="color: #1d5819;"></i></a>
              <a href="{% url 'item_disable' i.id %}"><i class="fa-solid fa-xmark fa-lg" style="color: #0717ed;"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}