{% extends 'user/base2.html' %}
{% load static %}

{% block main_block %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'restaurant_detail/css/style.css' %}">

<div class="container-fluid mb-3 text-center" style="margin-top: 100px;">

  {% if messages %}
      {% for m in messages %}
      <div class="alert alert-success d-flex align-items-center" role="alert">
          <div>
            {{m}}
          </div>
      </div>
      {% endfor %}
  {% endif %}
    <img src="{{ rest.image.url }}" alt="" width="100%" height="250px" class="mb-2">
    <div class="row">
        <div>
            <h3 class="rest_name text-uppercase">{{rest.name}}</h3>
            <div>
                {% for cat in rest.category_set.all %}
                <span class="text-muted">{{cat.name}} .</span>
                {% endfor %}
            </div>
            <small>{{rest.street_address}}, {{rest.city}}</small>
        </div>
    </div>
    <!-- ===== CATEGORY SECTION ===== -->
    <div class="row bg-light mt-2" style="height: 100px;">
        <div class="d-flex align-items-center justify-content-center">
            <div>
                {% for cat in rest.category_set.all %}
                    <button class="btn btn-outline-dark border-1 border-black btn-sm">{{cat.name}}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ===== CATEGORY SECTION ENDS===== -->
</div>
<!-- ===== ITEM SECTION ===== -->
<div class="container-fluid mb-5 bg-light" >
    <div class="row row-cols-1 row-cols-md-3 g-2 mt-4 d-flex justify-content-center">
      {% for cat in rest.category_set.all %}
        {% for i in cat.item_set.all %}
            <div class="col" style="width: 19rem;">
              <div class="card mb-2" style="width: 18rem;">
                <img src="{{ i.image.url }}" class="card-img-top" alt="..." height="180px">
                <div class="card-body text-center">
                  <div class="px-3 position-absolute top-0 end-0 translate-middle">
                    {% for o in i.offer_set.all %}
							  	    <div class="icon icon-md border border-primary">
									    <h6 class="text-white mb-0 lh-1 text-uppercase">{{o.offer_percentage}}% <br> off</h6>
							  	    </div>	
							      {% endfor %}
                  </div>
                  <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.category}}</p>
									  <h5><i class="fa-solid fa-indian-rupee-sign fa-xs" style="color: #000000;"></i> {{i.price}}</h5>
                  <div class="d-flex justify-content-evenly">
                  {% if i.is_active == 1 %}
									  <a href="{% url 'add_to_cart' i.id %}"><button class="btn btn-outline-dark">Add To Cart</button></a>
									  {% else %}
									  <button disabled class="btn btn-outline-dark">Out Of Stock</button>
								  {% endif %}
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      {% endfor %}
    </div>
</div>
<!-- ===== ITEM SECTION END ===== -->

<!-- ===== Gallery Section ===== -->
<div class="container">
  <div class="row">
    <h1>Gallery</h1>
    <section>
      {% for i in rest.gallery_set.all %}
      <figure><img class="img" src="{{i.image.url}}" alt=""/></figure>
      {% endfor %}
    </section>
  </div>
</div>


{% endblock %}